$darkmode-bg: #414141;
$darkmode-text: white;

$theme-red: red;
$theme-orange: orange;
$theme-yellow: yellow;
$theme-green: green;
$theme-purple: purple;
$theme-blue: blue;
$theme-vanilla: blanchedalmond;