// DARKMODE COLORS
$th-dm-bg: #414141;
$th-dm-text: white;

// LIGHT MODE COLORS
$th-lm-bg: white;
$th-lm-text:#414141;


$cl-red: #E97777;
$cl-orange: #EF9A53;
$cl-yellow: #FFFAD7;
$cl-green: #2a9749;
$cl-purple: purple;
$cl-blue: blue;
$cl-vanilla: blanchedalmond;