// DARKMODE COLORS
$th-dm-bg: #414141;
$th-dm-text: white;

// LIGHT MODE COLORS
$th-lm-bg: white;
$th-lm-text:#414141;


$theme-red: red;
$theme-orange: orange;
$theme-yellow: yellow;
$theme-green: green;
$theme-purple: purple;
$theme-blue: blue;
$theme-vanilla: blanchedalmond;